body{
	background-color: black;
}
p, h1, h2, h3, a {
	font-family: Arial, Helvetica, sans-serif;
}

.header-section {
	display: flex;
	gap: 40px;	
	
	height: 100vh;
	width: 100%;
	
	background-image: url('/Portfolio/Images/R.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: 700px;
	background-position-y: 120px;
}
.header-section .left-section {
	flex: 2 1 50px;
}
.header-section .right-section {
	flex: 1 2 100px;
}
.header-section .left-section .logo {
	margin-left: 80px;
	margin-top: 30px;
}
.header-section .right-section .navigation{
	display: grid;
	grid-template-columns:repeat(5, 1fr);
	gap: 50px;

	padding: 50px 150px 0px 0px;
}
.header-section .right-section .navigation a{
	font-size: x-large;
	color: white;
	text-decoration: none;
	position: relative;
}
.header-section .right-section .navigation a::after{
	position: absolute;
	left: 0px;
	bottom: -8px;
	
	content: " ";
	height: 3px;
	width: 0px;
	
	background-color: red;
	transition: 0.3s;
}
.header-section .right-section .navigation a:hover::after{
	width: 100%;
}


.header-section .left-section .intro-text{
	padding: 150px 0px 0px 80px;
}
.header-section .left-section .intro-text h3,
.header-section .left-section .intro-text h1{
	color: white;
}
.header-section .left-section .intro-text h3{
	font-size: 30px;
	font-weight: 100;
}
.header-section .left-section .intro-text h1{
	font-size: 50px;
	font-weight: bold;
}
.header-section .left-section .intro-text .name{
	color: red;
}

/*---------------------   about   -------------------------*/
.about-section .container .div{
	display: flex;
	gap: 40px;
	height: 850px;
}
.image-section,
.about-section .container .div .info-section{
	flex: 1;
}

.image-section img{
	padding-left: 150px;
	padding-top: 150px;
}

.about-section .container .div .info-section{
	padding: 250px 100px 0px 0px;
}

.tab-headers {
	display: flex;
	gap: 80px;
}
.tab-link{
	color: white;
	font-size: 20px;
	cursor: pointer;

	position: relative;
}
.tab-link::after{
	position: absolute;
	bottom: -8px;
	left: 0px;

	content: " ";
	background-color: red;

	height:3px;
	width: 0%;

	transition: 0.3s;

}
.tab-link.activeTab::after{
	width: 50%;
}

.tab-texts {
	max-width: 500px;
}
.tab-texts .text p{
	color:white;
	font-size: 20px;
	line-height: 1.5;
	display: none;
}
.tab-texts .text span{
	color:red;
	padding-bottom: 10px;
	font-weight: bold;
}
.tab-texts .text.activeText p{
	display: block;
}

/*------------------ services -------------*/
#services-section{
	height: 850px;
}
.services-section-class .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.services-section-class .container .div .title {
	color: gray;
	font-size: 50px;
	font-weight: bold;
}

.container .div .services-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.container .services-grid img {
	height: 150px;
	width: 150px;
}
.container .services-grid .info-section {
	width: 400px;
	background-color: gray;
	padding: 70px 25px;
	border-radius: 15px;
	transition: 0.3s background-color, 0.3s transform;
}
.container .services-grid .info-section:hover{
	background-color: rgb(155, 20, 20);
	transform: translateY(-19px);
}

/*----------------- myWorks -----------------*/

.my-works-section-class .container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.my-works-section-class .container .div{
	margin: 100px;
}

.my-works-section-class .container .div h1{
	color: gray;
	font-size: 60px;
	font-weight: 700;
}

.my-works-section-class .container .div .my-works-grid{
	display: grid;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	gap: 25px;
}
.my-works-section-class .container .div .my-works-grid .work{
	width: 400px;
	height: 550px;
	padding: 20px;
	background-color: rgb(24, 27, 27);
	border-radius: 15px;
}
.my-works-section-class .container .div .my-works-grid .work img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}